.modal {
  animation: hideAnimation 0.9s forwards;
  visibility: hidden;
  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__wraper {
    color: rgb(244, 244, 244);
  }
  &__box {
    max-width: 273.97px;
  }
  &__image {
    width: 100%;
  }
  &__title {
    @extend %nun-700;
    margin-top: 76px;
    font-size: 20px;
  }
  &__title,
  .modal__title-sub {
    color: rgb(244, 244, 244);
    font-size: 20px;
    line-height: 1.35em;
    max-width: 750px;
    @extend %nun-700;
  }
  &__text {
    color: rgb(244, 244, 244);
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 150%;
    margin-top: 38px;
    @extend %nun-400;
  }
}

.modal.active {
  animation: hideAnimationx 0.9s forwards;
  visibility: visible;
}

@media (max-width: 767px) {
  .modal {
    &__box {
      max-width: 122px;
      padding-bottom: 35px;
    }
    .modal__title {
      font-size: 16x;
      margin-top: 35px;
    }
    .modal__title-sub {
      text-align: center;
      font-size: 16x;
      padding-bottom: 20px;
    }
    .modal__text {
      margin-top: 0px;
      color: rgb(244, 244, 244);
      font-size: 12px;
      text-align: center;
    }
    .modal__text + .modal__text {
      margin-top: 10px;
    }
  }
}
