// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1638;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1600 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;





// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

%nun-400{
    font-family: 'Nunito-Regular';
    font-weight: 400;
}

%nun-700{
    font-family: 'Nunito-Bold';
    font-weight: 700;
}